/*
height
width
color
text-align
text-shadow
text-transform
text-decoration: color, line, style
border- style, width, color
border-radius. (top-left, top-right, bottom-right, and bottom-left)
font-size
font-weight
font-family

pseudo states
a:link (unvisited links)
a:hover
a:active (being clicked)

list-style: type position image
list-style-type 
list-style-position: (inside, outside)
list-style-image: (URL)


*/